In [9]:
import os
import networkx as nx
import pandas as pd

In [3]:
wd = os.getcwd()
wd

'/Users/mattheus/Documents/GitHub/net-analysis-smm638/mattheus/week4'

In [5]:
in_file = os.path.join('/Users/mattheus/Documents/GitHub/net-analysis-smm638/data', 'musae_ENGB_edges.csv')
# read file
G = nx.read_edgelist(in_file,         # edgelist file to read
                     delimiter=',',   # delimiter between 'from' and 'to'
                     comments='#')    # the first line doesn't contain data

In [7]:
# GraphML
# --+ path for the data file
out_file = os.path.join(wd, 'to_graphml.xml')
# --+ write data
nx.write_graphml_xml(G, out_file)

# adjacency list
# --+ path for the data file
out_file = os.path.join(os.getcwd(), 'to_adjlist.adjlist')
# --+ write data
nx.write_adjlist(G, out_file)

In [21]:
df = pd.read_csv(in_file)
df.rename(columns=dict(zip(df.columns, ['source','target'])),inplace=True)
df

       source  target
0        6194     255
1        6194     980
2        6194    2992
3        6194    2507
4        6194     986
...       ...     ...
35319    6922    7122
35320    6562    7089
35321    7069    7070
35322    7069    7110
35323    7075    7109

[35324 rows x 2 columns]